* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.week_meal_container {
  position: relative;
}

.week_meal_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%); */
  filter: blur(10px);
  z-index: -1;
}
.meal_planner {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("Image/BG.jpg");
  margin-top: 50px !important;
  height: 500px;
  padding: 15px;
  background-size: cover;
}
.meal_cards {
  margin: 10px 15px;
}
.meal_search {
  justify-content: center;
  margin: 150px 450px !important;
  width: 50% !important;
}

.text_center {
  text-align: center;
}

.meal_search_bar {
  background-color: white;
  border-radius: 35px;
  height: 45px !important;
  border: none !important;
}
.meal_search_bar .MuiInputBase-colorPrimary {
  height: inherit;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0) !important;
}
.meal_select_alleries {
  justify-content: space-between;
}
.meal_select {
  padding-top: 40px;
  justify-content: space-between;
  width: 400px !important;
  margin: 0 auto;
}
.Meal_Body {
  height: 200vh;
  /* padding-top: 100px !important; */
  /* background-color: black; */
}
.cuisine_card {
  box-sizing: border-box;
  text-align: center;
  height: 90px;
  width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
.cuisine_card:hover {
  background-color: rgba(37, 218, 24, 0.902);
  color: white;
  padding: 0;
  /* transform: translateX(-10%) translateY(-10%); */
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3) !important ;
}
.categories_card {
  margin-top: 2px !important;
  /* padding: 5px 25px 0 */
  justify-content: space-around;
}
.food_card {
  box-sizing: border-box;
  margin: 20px auto;
  width: 100%;
  min-height: 350px;
}
.foods_card {
  margin: 30px;
}
.card_actions {
  justify-content: space-between;
}
.card_actions p {
  width: 30%;
  display: flex;
  align-items: center;
}
.card_actions p svg {
  margin-right: 5px !important;
}
.card_text {
  width: 100%;
}

.Food_card_box {
  width: 100%;
  height: 100%;
}
.Food_card_content {
  margin: 0;
  padding-bottom: 0 !important ;
  height: 100%;
}
.card_content {
  height: 100px;
}
.card_image {
  background-size: auto;
  object-fit: cover;
  height: 250px;
}
.meal_search_icon {
  cursor: pointer !important;
}
.dialog_input {
  margin: 5px !important;
  width: 400px !important;
  background-color: #fff !important;
}
.week_paper {
  backdrop-filter: blur(30px) !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  width: 80%;
  margin: 20px auto;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.week_card {
  backdrop-filter: inherit;
  background-color: inherit;
  width: 100%;
  border-radius: 2px !important;
  margin-left: 3px !important;
  border: 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.2) !important;
}
.week_header {
  backdrop-filter: inherit;
  background-color: inherit;
  margin-right: 5px !important;
  height: 100%;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1) !important;
}
.week_container {
  min-height: 180px;
}
.week_meal_type {
  min-height: 120px;
}
.week_card_header {
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.MuiCardHeader-title {
  height: 100%;
  font-weight: 700 !important;
  /* margin-top: 60px !important; */
}
.week_image {
  width: 100%;
  border-radius: 5px;
  height: 120px;
  object-fit: cover;
}
.week_card_label {
  display: flex;
  justify-content: space-between;
  font-weight: 600 !important;
}
.week_card_label button {
  padding: 0 !important;
  margin: 0 !important;
}
.week_card_icon {
  position: relative !important;
  top: 28px;
  right: -91%;
  cursor: pointer;
  width: max-content;
  height: fit-content;
}
.week_card_icon svg {
  position: relative !important;
  margin: 1px 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  color: black;
}
.week_card_meal {
  text-transform: capitalize;
  width: 100%;
}
/* week_card_meal {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px 15px;
  border-radius: 25px;
  background-color: whitesmoke;
  margin: 10px 0 !important;
  box-shadow: 1px 1px 5px 2px silver;
} */
.week_card_grid {
  border-right: 1px solid silver;
}
.week_header_container {
  margin-top: 70px;
  padding: 0 10%;
  justify-content: space-between;
}
.week_header_button_group {
  display: flex;
  justify-content: space-between;
}
.button_all {
  font-weight: 600 !important;
  margin: 5px !important;
  padding: 8px;
  background-color: rgb(45 199 109) !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff !important;
}
.button_all:hover {
  /* background-color: rgb(45 199 109) !important; */
  font-weight: 700 !important;
  /* box-shadow: 2px 2px 5px rgba(255, 254, 254, 0.3); */
}
.week_header_heading p {
  font-weight: 700 !important;
  justify-content: space-around;
}
.button_reset {
  font-weight: 500 !important;
  margin: 5px !important;
  padding: 8px;
}
.dialog_input .MuiInputBase-colorPrimary {
  background-color: #fff !important;
  border-radius: 8px !important;
}
.tableHead {
  background-color: #000 !important ;
}
.tableHead th {
  color: #fff !important;
}
.Table-Container {
  margin: 0 auto;
  width: 800px !important;
}

.meal_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Circularbar {
  display: block !important;
  margin: 0 auto;
}
