.bar {
  background-color: #ffffffec !important;
  color: #000 !important;
}
.nav_bar_button_group {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav_bar {
  margin: 0 20px;
  justify-content: space-between;
}
.nav_bar h6 {
  font-weight: 700 !important;
}
.nav_bar_button {
  font-weight: 600 !important;
  background-color: fff !important;
  color: #000 !important;
  text-decoration: none !important;
}
.nav_bar_button a {
  color: inherit !important;
  text-decoration: none !important;
}
.nav_bar_button:hover {
  border-radius: 35px;
  background-color: rgb(45 199 109) !important;
  color: #fff !important;
}
